body{background-color: #fff; /*bgc#fff */
color: #555; /*c#fff*/
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    /*ffa */
} 

header{
    background-color: #141237; /*bgc#002171*/
    color: #fff; /*c#fff*/
    background-image: url(images/sunset.jpg); /*bgi */
    background-position: right;
    background-repeat: no-repeat; /*bgr*/
    line-height: 400%; /*lh400%*/
    text-indent: 1em; /*txi*/
}

nav {
    background-color: #bbdefb; /*bgc#bbdefb*/
    font-weight: bold; /*fwb*/
}
nav a{
    text-decoration: none; /*txd*/
}

h1{margin-bottom: 0;} /*mb0*/
h1,h2,h3
,footer
 {font-family: Georgia,"Times New Roman", Times, Baskerville,serif;} /*fft*/

h2{
    color: #1976d2; /*c#1976d2*/
}
h3 {
    color: #003; /*c#003*/
}
dt{
    color: #002171; /*c#002171*/
}
address {  
    font-style: normal;
}

footer{
    font-size: 75%; /* fz75% */
    font-style: italic; /*fsi*/
    text-align: center; /*txa*/
}
.resort {
    color: #1976d2; /*c#1976d2*/
    font-weight: bold; /*fwb*/
}