* {
    box-sizing: border-box;
}


body{background-color: #EAEAEA; /*bcg90c7e3 */
/* background-repeat: no-repeat; */
color: #555; /*c#fff*/
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    /*ffa */
} 
#wrapper{
    background-color: #90c7e3;
    background-image: linear-gradient(to bottom,#fff, #90c7e3);
    border: 1px solid #003;
    box-shadow: 3px 3px 3px #333;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
}

header{
    background-color: #141237; /*bgc#002171*/
    background-image: url(images/sunset.jpg); /*bgi */
    background-position: right;
    background-repeat: no-repeat; /*bgr*/
    color: #fff; /*c#fff*/
    height: 60px;
    padding-top: 15px;
    text-align: center;

}

header a {
    text-decoration: none;
}
header a:link, header a:visited {
    color: #fff;
}
header a:hover{
    color: #90c7e3;
}

nav {
    /* background-color: #fff; bgc#fff */
    float: left;
    font-size: 120%;
    font-weight: bold; /*fwb*/
    padding: 1.5em;
    width: 160px;
    /* text-align: center; */
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
nav a{
    text-decoration: none; /*txd*/
}
nav a:link {
    color: #5c7fa3;
}
nav a :visited{
    color: #344873;
}
nav a :hover {
    color: #a52a2a;
}
main {
    background-color: #fff;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    overflow: auto;
}
section{
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 33%;
}
h1 {
    letter-spacing: .25em;
    margin-bottom: 0; /*mb0*/
    margin-top: 0; /*mt0*/
} 
h1,h2,h3
,footer
 {font-family: Georgia,"Times New Roman", Times, Baskerville,serif;} /*fft*/

h2{
    color: #1976d2; /*c#1976d2*/
    text-shadow: 1px 1px #ccc;
}
h3 {
    color: #003; /*c#003*/
}
dt{
    color: #002171; /*c#002171*/
}
address {  
    font-style: normal;
}

footer{
    background-color: #fff;
    font-size: 75%; /* fz75% */
    font-style: italic; /*fsi*/
    margin-left: 190px;
    padding: 2em;
    text-align: center; /*txa*/
}
.resort {
    color: #1976d2; /*c#1976d2*/
    font-weight: bold; /*fwb*/
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    margin-left: 190px;
}
#homehero {
    background-image: url(images/coast2.jpg);
}
#yurthero {
    background-image: url(images/yurt.jpg);
}
#trailhero{
    background-image: url(images/trail.jpg);
}