body{background-color: #90c7e3; /*bcg90c7e3 */
    background-image: linear-gradient(to bottom,#fff, #90c7e3);
    background-repeat: no-repeat;
color: #555; /*c#fff*/
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    /*ffa */
} 
#wrapper{
    background-color: #fff;
    box-shadow: 3px 3px 3px #333;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
}

header{
    background-color: #141237; /*bgc#002171*/
    background-image: url(images/sunset.jpg); /*bgi */
    background-position: right;
    background-repeat: no-repeat; /*bgr*/
    color: #fff; /*c#fff*/
    height: 60px;
    padding-top: 15px;
    text-align: center;

}

nav {
    background-color: #fff; /*bgc#fff*/
    font-weight: bold; /*fwb*/
    padding: 1em;
    text-align: center;
}
nav a{
    text-decoration: none; /*txd*/
}
main {
    padding: 1px 20px 20px;
}

h1 {margin-bottom: 0; /*mb0*/
    margin-top: 0; /*mt0*/
} 
h1,h2,h3
,footer
 {font-family: Georgia,"Times New Roman", Times, Baskerville,serif;} /*fft*/

h2{
    color: #1976d2; /*c#1976d2*/
    text-shadow: 1px 1px #ccc;
}
h3 {
    color: #003; /*c#003*/
}
dt{
    color: #002171; /*c#002171*/
}
address {  
    font-style: normal;
}

footer{
    font-size: 75%; /* fz75% */
    font-style: italic; /*fsi*/
    padding: 2em;
    text-align: center; /*txa*/
}
.resort {
    color: #1976d2; /*c#1976d2*/
    font-weight: bold; /*fwb*/
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
}
#homehero {
    background-image: url(images/coast2.jpg);
}
#yurthero {
    background-image: url(images/yurt.jpg);
}
#trailhero{
    background-image: url(images/trail.jpg);
}